<div class="mt-4">
    <h3>Create Course</h3>
    <form method="POST" action="/courses/store">
        <div class="col-auto">
            <label for="name">Course</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-auto">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="col-auto">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="col-auto">
            <label for="image">Image ID</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="col-auto">
            <label for="level">Level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Create Course</button>
        </div>
    </form>
</div>